<body class="h-100">
    <div class="container-fluid m-5">
      <div class="row">
        <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block me-3 sidebar collapse h-100">
        <!-- <div class="col-lg-3 my-5"> -->
        <section id="side_bar" class="pt-0 text-center">
          <nav class="m-2 p-1 border border-danger">
          <h6 class="">患者一覧</h6>
              <form class="d-flex" role="search">
                <input type="search" class="form-control" placeholder="検索..." aria-label="検索...">
              </form>
            </nav>
        
              <nav class="m-2 p-1 border border-danger te">
                <ul class="nav flex-column p-2">
                   <p class="mb-0 pb-2">患者ID<%= @patient.patient_id_number %></p>
                   <span class="pb-2"><%= @patient.patient_first_name %><%= @patient.patient_last_name %></span>

                    <li class="nav-item"><p><a href="#" class="nav-link text-danger">基本情報</a></p></li>
                    <li class="nav-item"><p><a href="#" class="nav-link text-danger">乳房状態</a></p></li>
                    <li class="nav-item"><p><a href="#" class="nav-link text-danger">診療記録</a></p></li>
                </ul>
            </nav>
              <nav class="m-2 p-1 border border-danger">
                <ul class="nav flex-column p-3">
                  <h5 class="">来院履歴</h5>
                    <li class="nav-item"><p><a href="#" class="nav-link text-danger">2023/1/1</a></p></li>
                    <li class="nav-item"><p><a href="#" class="nav-link text-danger">2023/2/3</a></p></li>
                    <li class="nav-item"><p><a href="#" class="nav-link text-danger">2023/3/1</a></p></li>
                </ul>
            </nav>
                  <div class="my-2 p-1 border border-danger">
                      <h5>カレンダー</h5>
                      <iframe src="https://calendar.google.com/calendar/embed?src=chishakiemiko%40gmail.com&ctz=Asia%2FTokyo" style="border: 0" width="160" height="300" frameborder="1" scrolling="no"></iframe>
                      
                  </div>
                  </section>
        </nav>

          <div class="col-lg-9 p-5 border border-danger">
            <div class="row d-flex ">
              <div class="col-9">
                <h2 class="paitiant_list_title my-3 text-center">患者基本情報</h2>
              </div>
              <div class="col-3">
                  <button type="button" class="btn btn-danger">
                  <%= link_to "編集", edit_patient_path ,class: "text-white" %>
                  </button>
              </div>
            </div>
            <table class="table table-bordered text-nowrap">
              <tbody>
                <tr>
                  <td scope="row">患者ID</td>
                  <td><%= @patient.patient_id_number %></td>
                </tr>
                <tr>
                  <td><%= @patient.patient_first_name_katakana %></td>
                  <td><%= @patient.patient_last_name_katakana %></td>
                </tr>
                <tr>
                  <td><%= @patient.patient_first_name %></td>
                  <td><%= @patient.patient_last_name %></td>
                </tr>
              </tbody>
            </table>

              <p class="">作成日</p>
              <time><%= @patient.created_at.strftime('%Y.%-m.%d')%></time>

              <table class="table table-bordered text-nowrap">
                <tbody>
                  <tr>
                    <th scope="row">生年月日</th>
                    <td><%= @patient.patient_birth_date %></td>
                  </tr>
                  <tr>
                    <th scope="row">年齢</th>
                    <td><%= @patient.patient_age %>歳</td>
                  </tr>
                  <tr>
                    <th scope="row">電話番号</th>
                    <td><%= @patient.patient_phone_number %></td>
                  </tr>
                  <tr>
                    <th scope="row">職業</th>
                    <td><%= @patient.patient_occuation  %></td>                   
                  </tr>
                  <tr>
                    <th scope="row">住所</th>
                    <td><%= @patient.patient_adress%></td>
                  </tr>
                  <tr>
                    <th scope="row">分娩年月日</th>
                    <td><%= @patient.delivery_date %></td>
                  </tr>
                  <tr>
                    <th scope="row">分娩場所</th>
                    <td><%= @patient.place_of_delivery %></td>
                  </tr>
                  <tr>
                     <th scope="row">分娩様式</th>
                    <td><%= @patient.mode_of_delivery %></td>
                  </tr> 
                  <tr>
                     <th scope="row">分娩様式理由</th>
                    <td><%= @patient.mode_of_delivery_reasons %></td>
                  </tr>  
                  <tr>
                    <th scope="row">分娩週数</th>
                    <td><%= @patient.calving_weeks %>週<%= @patient.calving_weeks %>日</td>
                  </tr>
                  <tr>
                    <th scope="row">分娩所要時間</th>
                    <td><%= @patient.delivery_time %>時間<%= @patient.delivery_minutes %>分</td>    
                  </tr>
                    <th scope="row">出血量</th>
                    <td><%= @patient.amount_of_bleeding %>ml</td>
                  </tr>
                  <tr>
                    <th scope="row">今回の妊娠経過</th>
                    <td><%= @patient.pregnancy_progress_this_time %></td>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td></td>
                  </tr>
 　                <tr>
                    <th scope="row">現在内服中の薬</th>
                    <td><%= @patient.current_medication %></td>
                  </tr>
                  <tr>
                    <th scope="row">アレルギー</th>
                    <td><%= @patient.allergy %></td>
                  </tr>
                  <tr>
                    <th scope="row">分娩歴</th>
                    <td><%= @patient.delivery_history %></td>
                  </tr>
                  <tr>
                    <th scope="row">乳房トラブル歴</th>
                    <td><%= @patient.breast_trouble %></td>
                  </tr>
                  <tr>
                    <th scope="row">非妊時の乳房サイズの左右差</th>
                    <td><%= @patient.left_right_difference_in_breast_size_before_pregnancy %></td>
                   </tr>
                   <tr>
                     <th scope="row">妊娠中の乳房変化</th>
                     <td><%= @patient.breast_changes_during_pregnancy %></td>
                   </tr>
                   <tr>
                    <th scope="row">妊娠中のお手入れ</th>
                    <td><%= @patient.breast_care%></td>
                  </tr>
                  <tr>
                    <th scope="row">産後の乳房緊満時期</th>
                    <td><%= @patient.breast_engorgement %></td>                       
                  </tr>
                  <tr>
                    <th scope="row">乳房緊満の程度</th>
                    <td><%= @patient.degree_of_breast_engorgement %></td>                      
                  </tr>
                  <tr>
                    <th scope="row">母乳意識</th>
                    <td><%= @patient.breastfeeding_awareness %></td>
                  </tr>
                  <tr>
                    <th scope="row">育児協力者</th>
                    <td><%= @patient.childcare_collaborator %></td>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <!--<td></td>-->
                  </tr>
                  <tr>
                    <th scope="row"><span>赤ちゃん情報</span></th>     
                              
                  </tr>   
                  <tr>
                   <th scope="row">お名前</th>
                   <td><%= @patient.childs_name %></td>                      
                  </tr>
                  <tr>
                     <th scope="row">性別</th>
                     <td><%= @patient.gender %></td>                      
                  </tr>
                  <tr>
                    <th scope="row">出生時体重</th>
                    <td><%= @patient.birth_weight %>g</td>
                  </tr>
                  <tr>
                    <th scope="row">退院時体重</th>
                    <td><%= @patient.weight_at_discharge %>g</td>
                   </tr>
                   <tr>
                      <th scope="row">1ヶ月体重</th>
                      <td>未</td>
                   </tr>
                   <tr>
                     <th scope="row"><span>その他</span></th>
                     <td></td>
                   </tr>
                   <tr>
                    <th scope="row">肩こり</th>
                    <td><%= @patient.stiff_shoulder %></td>
                   </tr>
                   <tr>
                     <th scope="row">腰痛</th>
                     <td><%= @patient.low_back_pain%></td>
                   </tr>
                   <tr>
                     <th scope="row">既往歴</th>
                     <td><%= @patient.pre_existing_disease %></td>  
                    </tr>   
                   <tr>
                     <th scope="row">感染症</th>
                     <td><%= @patient.infectious_disease %></td>  
                    </tr>   
                  </tbody>
                </table>
        </div>
      </div>
    </div>


</body>
</html>