<body class="h-100">
    <div class="container-fluid m-5">
      <div class="row">
        <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block me-3 sidebar collapse">
          <section id="side_bar" class="pt-5">
           <div class="border border-danger mb-3">
            <h6 class="">患者検索</h6>
                <form class="d-flex" role="search">
                  <input type="search" class="form-control" placeholder="検索..." aria-label="検索...">
                </form>
            </div>
            <div class="mb-2 border border-danger">
               <%= image_tag 'koharu.png', class: 'img-fluid', width: '180px' %>
            </div>
              <div class="my-2 border border-danger">
                <h5>カレンダー</h5>
                  <iframe src="https://calendar.google.com/calendar/embed?src=chishakiemiko%40gmail.com&ctz=Asia%2FTokyo" style="border: 0" width="170" height="400" frameborder="0" scrolling="no"></iframe>
              </div>
            </section>
          </nav>
          <div class="col-lg-9 p-5 border border-danger text-center">
            <h1 class="paitiant_list_title my-3">患者一覧</h1>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">氏名</th>
                  <th scope="col">カタカナ</th>
                  <th scope="col">生年月日</th>
                  <th scope="col">電話番号</th>
                </tr>
              </thead>
              <tbody>
                 <% @patients.each do |patient| %>   
                  <tr>
                    <th scope="row"><%= patient.patient_id_number %></th>
                    <td><%= patient.patient_first_name %><%= patient.patient_last_name %> </td>
                    <td><%= patient.patient_first_name_katakana %><%= patient.patient_last_name_katakana %></td>
                    <td><%= patient.patient_birth_date %></td>
                    <td><%= patient.patient_phone_number %></td>
                  </tr>
                 <% end %>
              </tbody>
            </table>
          </div>
      </div>
    </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

