<%= render 'layouts/errors'%>
  <div class="container-fluid m-5">
     <div class="row">
      <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block me-3 sidebar collapse h-100">
        <section id="side_bar" class="pt-0 text-center">
          <nav class="m-2 p-1 border border-danger">
          <h6 class="">患者一覧</h6>
              <form class="d-flex" role="search">
                <input type="search" class="form-control" placeholder="検索..." aria-label="検索...">
              </form>
           <div class="my-2 p-1 border border-danger">
              <h5>カレンダー</h5>
                <iframe src="https://calendar.google.com/calendar/embed?src=chishakiemiko%40gmail.com&ctz=Asia%2FTokyo" style="border: 0" width="160" height="300" frameborder="1" scrolling="no"></iframe>
            </div>
         </nav>
        </section>
      </nav>

          <div class="col-lg-9 p-5  border border-danger">
            <h2 class="paitiant_list_title">乳房状態</h2>
 
            <%= form_with(model: @breast_condition, local: true) do |form| %>
              <div class ="row">
                <div class="text_field mb-2">
                  <%= form.label :chief_complaint, "主訴" %>
                  <%= form.number_field :chief_complaint,　class: 'form-control' %>
                </div>
                <div class="text_field mb-2">
                  <%= form.label :progress_of_visit, "来院までの経過" %>
                  <%= form.number_field :progress_of_visit ,class: 'form-control' %>
                </div>
                <h5>乳房実質について</h5>
                <div class="col form-group mb-3">
                  <%= form.label :breast_type, "乳房タイプ" %>
                  <%= form.select :breast_type, [["I","I"], ["Ⅱa","Ⅱa"], ["Ⅱb","Ⅱb"], ["Ⅲ","Ⅲ"]]], prompt: "選択してください", class: 'form-select' %>
                </div>
                <div class="col form-group mb-3">
                  <%= form.label :udder_warmth_right, "温かさ(右)" %>
                  <%= form.select :udder_warmth_right, [["++","++"], ["+","+"], ["±","±"], ["ー","ー"]], prompt: "選択してください", class: 'form-select' %>
                </div>
                <div class="col form-group mb-3">
                  <%= form.label :udder_warmth_left, "温かさ(左)" %>
                  <%= form.select :udder_warmth_left, [["++","++"], ["+","+"], ["±","±"], ["ー","ー"]], prompt: "選択してください", class: 'form-select' %>
                </div>
                <div class="col form-group mb-3">
                  <%= form.label :breast_size_difference, "左右差" %>
                  <%= form.select :breast_size_difference, [["R = L","R = L"], ["R =< L","R =<　L"], ["R < L","R < L"], ["R >= L","R >= L"], ["R > L","R > L"], ["学生","学生"]], prompt: "選択してください", class: 'form-select' %>
                </div>
                <div class="col form-group mb-3">
                  <%= form.label :udder_tension_right, "緊満度(右)" %>
                  <%= form.select :udder_tension_right, [["++","++"], ["+","+"], ["±","±"], ["ー","ー"]], prompt: "選択してください", class: 'form-select' %>
                </div>
                <div class="col form-group mb-3">
                  <%= form.label :udder_tension_left, "緊満度(左)" %>
                  <%= form.select :udder_tension_left, [["++","++"], ["+","+"], ["±","±"], ["ー","ー"]], prompt: "選択してください", class: 'form-select' %>
                </div>
                <div class="col form-group mb-3">
                  <%= form.label :sub_breast_right, "副乳(右)" %>
                  <%= form.select :sub_breast_right, [["あり","あり"], ["なし","なし"]], prompt: "選択してください", class: 'form-select' %>
                </div>
                <div class="col form-group mb-3">
                  <%= form.label :sub_breast_left, "副乳(左)" %>
                  <%= form.select :sub_breast_left, [["あり","あり"], ["なし","なし"]], prompt: "選択してください", class: 'form-select' %>
                </div>
                <div class="field mb-2">
                  <%= form.label :right_body_temperature_before_massage, "マッサージ前の体温(右)" %>
                  <%= form.number_field :right_body_temperature_before_massage ,class: 'form-control' %>
                </div>
                <div class="field mb-2">
                  <%= form.label :left_body_temperature_before_massage, "マッサージ前の体温(左)" %>
                  <%= form.number_field :left_body_temperature_before_massage ,class: 'form-control' %>
                </div>
                <div class="field mb-2">
                  <%= form.label :right_body_temperature_after_massage, "マッサージ後の体温(右)" %>
                  <%= form.number_field :right_body_temperature_after_massage ,class: 'form-control' %>
                </div>
                <div class="field mb-2">
                  <%= form.label :left_body_temperature_before_massage, "マッサージ後の体温(左)" %>
                  <%= form.number_field :left_body_temperature_before_massage ,class: 'form-control' %>
                </div>
          
                <h5>乳輪部について</h5>
                <div class="field mb-2">
                  <%= form.label :extension_length_before_massage_right, "マッサージ前の伸展長(右)" %>
                  <%= form.number_field :extension_length_before_massage_right ,class: 'form-control' %>
                </div>
                <div class="field mb-2">
                  <%= form.label :extension_length_before_massage_left, "マッサージ前の伸展長(左)" %>
                  <%= form.number_field :extension_length_before_massage_left ,class: 'form-control' %>
                </div>
                <div class="field mb-2">
                  <%= form.label :extension_length_after_massage_right, "マッサージ後の伸展長(右)" %>
                  <%= form.number_field :extension_length_after_massage_right ,class: 'form-control' %>
                </div>
                <div class="field mb-2">
                  <%= form.label :extension_length_after_massage_left, "マッサージ後の伸展長(左)" %>
                  <%= form.number_field :extension_length_after_massage_left ,class: 'form-control' %>
                </div>
                <div class="field mb-2">
                  <%= form.label :nipple_width_right, "乳輪の横幅(右)" %>
                  <%= form.number_field :nipple_width_right ,class: 'form-control' %>
                </div>
                <div class="field mb-2">
                  <%= form.label :nipple_width_left, "乳輪の横幅(左)" %>
                  <%= form.number_field :nipple_width_left ,class: 'form-control' %>
                </div>
                <div class="field mb-2">
                  <%= form.label :nipple_warp_right, "乳輪の縦幅(右)" %>
                  <%= form.number_field :nipple_warp_right ,class: 'form-control' %>
                </div>
                <div class="field mb-2">
                  <%= form.label :nipple_warp_left, "乳輪の縦幅(左)" %>
                  <%= form.number_field :nipple_warp_left ,class: 'form-control' %>
                </div>
                
                <div class="col form-group mb-3">
                  <%= form.label :nipple_color_right, "乳輪色(右)" %>
                  <%= form.select :nipple_color_right, [["ピンク","ピンク"], ["薄茶","薄茶"], ["茶色","茶色"], ["濃茶","濃茶"]], prompt: "選択してください", class: 'form-select' %>
                </div>
                <div class="col form-group mb-3">
                  <%= form.label :nipple_color_left, "乳輪色(左)" %>
                  <%= form.select :nipple_color_left, [["ピンク","ピンク"], ["薄茶","薄茶"], ["茶色","茶色"], ["濃茶","濃茶"]], prompt: "選択してください", class: 'form-select' %>
                </div>
                <div class="col form-group mb-3">
                  <%= form.label :breast_extension_right_before_massage, "マッサージ前の伸展度(右)" %>
                  <%= form.select :breast_extension_right_before_massage, [["良好","良好"], ["不良","不良"]], prompt: "選択してください", class: 'form-select' %>
                </div>
                <div class="col form-group mb-3">
                  <%= form.label :breast_extension_right_after_massage, "マッサージ前の伸展度(右)" %>
                  <%= form.select :breast_extension_right_after_massage, [["良好","良好"], ["不良","不良"], prompt: "選択してください", class: 'form-select' %>
                </div>
                <div class="col form-group mb-3">
                  <%= form.label :breast_extension_left_before_massage, "マッサージ後の伸展度(左)" %>
                  <%= form.select :breast_extension_left_before_massage, [["良好","良好"], ["不良","不良"], prompt: "選択してください", class: 'form-select' %>
                </div>
                <div class="col form-group mb-3">
                  <%= form.label :breast_extension_left_after_massage, "マッサージ後の伸展度(左)" %>
                  <%= form.select :breast_extension_left_after_massage, [["良好","良好"], ["不良","不良"], prompt: "選択してください", class: 'form-select' %>
                </div>
                <div class="col form-group mb-3">
                  <%= form.label :breast_skin_problems_right, "乳輪の皮膚トラブル(右)" %>
                  <%= form.select :breast_skin_problems_right, [["あり","あり"], ["なし","なし"]], prompt: "選択してください", class: 'form-select' %>
                </div>
                <div class="col form-group mb-3">
                  <%= form.label :breast_skin_problems_left, "乳輪の皮膚トラブル(左)" %>
                  <%= form.select :breast_skin_problems_left, [["あり","あり"], ["なし","なし"]], prompt: "選択してください", class: 'form-select' %>
                </div>
                
                <h5>乳頭部について</h5>
                <div class="field mb-2">
                  <%= form.label :length_of_right_teat, "乳頭長(右)" %>
                  <%= form.number_field :length_of_right_teat ,class: 'form-control' %>
                </div>
                <div class="field mb-2">
                  <%= form.label :length_of_left_teat, "乳頭長(左)" %>
                  <%= form.number_field :length_of_left_teat ,class: 'form-control' %>
                </div>
                 <div class="col form-group mb-3">
                  <%= form.label :nipple_shape_right, "乳頭形態(右)" %>
                  <%= form.select :nipple_shape_right, [["正常","正常"], ["短","短"], ["裂状","裂状"], ["裂状短","裂状短"]、["巨大","巨大"], ["扁平","扁平"], ["仮性陥没","仮性陥没"],["真性陥没","真
                  性陥没"],["球状","球状"],["小","小"]], prompt: "選択してください", class: 'form-select' %>
                </div>
                 <div class="col form-group mb-3">
                  <%= form.label :nipple_shape_left, "乳頭形態(左)" %>
                  <%= form.select :nipple_shape_left, [["正常","正常"], ["短","短"], ["裂状","裂状"], ["裂状短","裂状短"]、["巨大","巨大"], ["扁平","扁平"], ["仮性陥没","仮性陥没"],["真性陥没","真
                  性陥没"],["球状","球状"],["小","小"]], prompt: "選択してください", class: 'form-select' %>
                </div>
                 <div class="col form-group mb-3">
                  <%= form.label :hardness_of_right_teat, "乳頭の硬さ(右)" %>
                  <%= form.select :hardness_of_right_teat, [["鼻","鼻"], ["口唇","口唇"], ["耳たぶ","耳たぶ"]], prompt: "選択してください", class: 'form-select' %>
                </div>
                 <div class="col form-group mb-3">
                  <%= form.label :hardness_of_left_teat, "乳頭の硬さ(左)" %>
                  <%= form.select :hardness_of_left_teat, [["鼻","鼻"], ["口唇","口唇"], ["耳たぶ","耳たぶ"]], prompt: "選択してください", class: 'form-select' %>
                </div>
                <div class="field mb-2">
                  <%= form.label :number_of_right_teat_ducts_open_before_massage, "マッサージ前：開口本数(右)" %>
                  <%= form.number_field :number_of_right_teat_ducts_open_before_massage ,class: 'form-control' %>
                </div>
                <div class="field mb-2">
                  <%= form.label :number_of_right_teat_ducts_open_after_massage, "マッサージ後：開口本数(右)" %>
                  <%= form.number_field :number_of_right_teat_ducts_open_after_massage ,class: 'form-control' %>
                </div>
                <div class="field mb-2">
                  <%= form.label :number_of_left_teat_ducts_open_before_massage, "マッサージ前：開口本数(左)" %>
                  <%= form.number_field :number_of_left_teat_ducts_open_before_massage ,class: 'form-control' %>
                </div>
                <div class="field mb-2">
                  <%= form.label :number_of_left_teat_ducts_open_after_massage, "マッサージ後：開口本数(左)" %>
                  <%= form.number_field :number_of_left_teat_ducts_open_after_massage ,class: 'form-control' %>
                </div>
                <div class="field mb-2">
                  <%= form.label :number_of_open_right_milk_ducts_before_massage, "マッサージ前：開通本数(右)" %>
                  <%= form.number_field :number_of_open_right_milk_ducts_before_massage ,class: 'form-control' %>
                </div>
                <div class="field mb-2">
                  <%= form.label :number_of_open_right_milk_ducts_after_massage, "マッサージ後：開通本数(右)" %>
                  <%= form.number_field :number_of_open_right_milk_ducts_after_massage ,class: 'form-control' %>
                </div>
                <div class="field mb-2">
                  <%= form.label :number_of_open_left_milk_ducts_before_massage, "マッサージ前：開通本数(左)" %>
                  <%= form.number_field :number_of_open_left_milk_ducts_before_massage,class: 'form-control' %>
                </div>
                <div class="field mb-2">
                  <%= form.label :number_of_open_left_milk_ducts_after_massage, "マッサージ後：開通本数(左)" %>
                  <%= form.number_field :number_of_open_left_milk_ducts_after_massage ,class: 'form-control' %>
                </div>
                <div class="field mb-2">
                  <%= form.label :number_of_ejaculation_breasts_right_before_massage, "マッサージ前：射乳本数(右)" %>
                  <%= form.number_field :number_of_ejaculation_breasts_right_before_massage ,class: 'form-control' %>
                </div>
                <div class="field mb-2">
                  <%= form.label :number_of_ejaculation_breasts_left_before_massage, "マッサージ前：射乳本数(左)" %>
                  <%= form.number_field :number_of_ejaculation_breasts_left_before_massage ,class: 'form-control' %>
                </div>
                <div class="field mb-2">
                  <%= form.label :number_of_ejaculated_right_breast_after_massage, "マッサージ後：射乳本数(右)" %>
                  <%= form.number_field :number_of_ejaculated_right_breast_after_massage ,class: 'form-control' %>
                </div>
                <div class="field mb-2">
                  <%= form.label :number_of_ejaculated_left_breast_after_massage, "マッサージ後：射乳本数(左)" %>
                  <%= form.number_field :number_of_ejaculated_left_breast_after_massage ,class: 'form-control' %>
                </div>
                <div class="col form-group mb-3">
                  <%= form.label :right_milk_properties, "乳汁の性質(右)" %>
                  <%= form.select :right_milk_properties, [["初乳","初乳"], ["移行乳","移行乳"], ["成乳","成乳"]], prompt: "選択してください", class: 'form-select' %>
                </div>
                 <div class="col form-group mb-3">
                  <%= form.label :left_milk_properties, "乳汁の性質(左)" %>
                  <%= form.select :left_milk_properties, [["初乳","初乳"], ["移行乳","移行乳"], ["成乳","成乳"]], prompt: "選択してください", class: 'form-select' %>
                </div>
                <div class="col form-group mb-3">
                  <%= form.label :milk_color_of_right_udder, "乳汁色(右)" %>
                  <%= form.select :milk_color_of_right_udder, [["乳白色","乳白色"], ["会社員","会社員"], ["自営業","自営業"], ["医療従事者","医療従事者"], ["公務員","公務員"], ["学生","学生"], ["その他","その他"]], prompt: "選択してください", class: 'form-select' %>
                </div>
                 <div class="col form-group mb-3">
                  <%= form.label :milk_color_of_left_udder, "乳汁色(左)" %>
                  <%= form.select :milk_color_of_left_udder, [["主婦","主婦"], ["会社員","会社員"], ["自営業","自営業"], ["医療従事者","医療従事者"], ["公務員","公務員"], ["学生","学生"], ["その他","その他"]], prompt: "選択してください", class: 'form-select' %>
                </div>
                <div class="col form-group mb-3">
                  <%= form.label :right_milk_debris, "乳カス(右)" %>
                  <%= form.select :right_milk_debris, [["多","主婦"], ["会社員","会社員"], ["自営業","自営業"], ["医療従事者","医療従事者"], ["公務員","公務員"], ["学生","学生"], ["その他","その他"]], prompt: "選択してください", class: 'form-select' %>
                </div>
                 <div class="col form-group mb-3">
                  <%= form.label :left_milk_debris, "乳カス(左)" %>
                  <%= form.select :left_milk_debris, [["主婦","主婦"], ["会社員","会社員"], ["自営業","自営業"], ["医療従事者","医療従事者"], ["公務員","公務員"], ["学生","学生"], ["その他","その他"]], prompt: "選択してください", class: 'form-select' %>
                </div>
                <div class="col form-group mb-3">
                  <%= form.label :right_milk_debris, "乳汁の温かさ(右)" %>
                  <%= form.select :right_milk_debris, [["あたたかい","あたたかい"], ["冷たい","冷たい"], ["ひやっとするほど冷たい","ひやっとするほど冷たい"], ["わからない","わからない"]], prompt: "選択してください", class: 'form-select' %>
                </div>
                 <div class="col form-group mb-3">
                  <%= form.label :left_milk_debris, "乳汁の温かさ(左)" %>
                  <%= form.select :left_milk_debris, [["あたたかい","あたたかい"], ["冷たい","冷たい"], ["ひやっとするほど冷たい","ひやっとするほど冷たい"], ["わからない","わからない"]], prompt: "選択してください", class: 'form-select' %>
                </div>
                
                
                 <div class="img-select">
                  <div class="text-start">
                    <%= f.label :udder_diagram , '乳房図', class: 'fw-bold mb-4 text-main' %>
                    <span class="p_required">必須</span>
                  </div>
                 　 <%= f.file_field :udder_diagram  %>
                </div>
                
                <h5>授乳状況</h5>
                <div class="col form-group mb-3">
                  <%= form.label :breastfeeding_status, "授乳の状況" %>
                  <%= form.select :breastfeeding_status, [["母乳","母乳"], ["混合","混合"], ["ミルク","ミルク"]], prompt: "選択してください", class: 'form-select' %>
                </div>
                 <div class="field mb-2">
                  <%= form.label :breastfeeding_times、 "母乳の回数" %>
                  <%= form.number_field :breastfeeding_times ,class: 'form-control' %>
                </div>
                 <div class="field mb-2">
                  <%= form.label :number_of_night_feedings, "夜間授乳の回数" %>
                  <%= form.number_field :number_of_night_feedings ,class: 'form-control' %>
                </div>
                 <div class="field mb-2">
                  <%= form.label :milk_count, "ミルクの回数" %>
                  <%= form.number_field :milk_count ,class: 'form-control' %>
                </div>
                 <div class="field mb-2">
                  <%= form.label :one_serving_of_milk, "１回のミルクの量" %>
                  <%= form.number_field :one_serving_of_milk ,class: 'form-control' %>
                </div>
                <div class="form-check mb-3">
                    <%= form.label :time_to_supplement_milk, "ミルクのタイミング(複数選択可)" %>
                      <div class="form-check">
                        <% ["毎回","朝","昼","夜","寝る前","夜中","その他","なし"].each do |time_to_supplement_milk| %>
                        <%= form.check_box :time_to_supplement_milk, {multiple: true}, time_to_supplement_milk, nil %>
                        <%= time_to_supplement_milk %>
                        <% end %>
                      </div>
                  </div> 
                 <div class="field mb-2">
                  <%= form.label :milking_frequency, "搾乳の回数" %>
                  <%= form.number_field :milking_frequency, class: 'form-control' %>
                </div>
                 <div class="field mb-2">
                  <%= form.label :one_milking_dose, "１回の搾乳量" %>
                  <%= form.number_field :one_milking_dose, class: 'form-control' %>
                </div>
                 <div class="field mb-2">
                  <%= form.label :milking_time_required, "１回の搾乳にかかる時間" %>
                  <%= form.number_field :milking_time_required, class: 'form-control' %>
                </div>
                <div class="form-check mb-3">
                    <%= form.label :milking_method, "搾乳方法(複数選択可)" %>
                      <div class="form-check">
                        <% ["手搾り","手動搾乳器","電動搾乳器","その他"].each do |milking_method| %>
                        <%= form.check_box :milking_method, {multiple: true}, milking_method, nil %>
                        <%= milking_method %>
                        <% end %>
                      </div>
                  </div> 
                <div class="col form-group mb-3">
                  <%= form.label :baby_food, "離乳食" %>
                  <%= form.select :baby_food, [["なし","なし"], ["１回","１回"], ["２回","２回"], ["３回","３回"], ["４回以上","４回以上"]], prompt: "選択してください", class: 'form-select' %>
                </div>
                 <div class="form-check mb-3">
                    <%= form.label :breastfeeding_posture_right, "右：抱き方(複数選択可)" %>
                      <div class="form-check">
                        <% ["横抱き","脇だき","縦抱き","添い乳","その他"].each do |breastfeeding_posture_right| %>
                        <%= form.check_box :breastfeeding_posture_right, {multiple: true}, breastfeeding_posture_right, nil %>
                        <%= breastfeeding_posture_right %>
                        <% end %>
                      </div>
                  </div>  
                 <div class="form-check mb-3">
                    <%= form.label :breastfeeding_posture_left, "左：抱き方(複数選択可)" %>
                      <div class="form-check">
                        <% ["横抱き","脇だき","縦抱き","添い乳","その他"].each do |breastfeeding_posture_left| %>
                        <%= form.check_box :, {multiple: true}, breastfeeding_posture_left, nil %>
                        <%= breastfeeding_posture_left %>
                        <% end %>
                      </div>
                  </div> 
                <div class="form-group">
                  <%= form.submit "登録する" ,class: 'btn btn-danger mx-1' %>
                </div>
              </div>
            <% end %>
      </div>
    </div>
  </div>