<nav class= "navbar navbar-light navbar-expand-md bg-white" style="box-shadow: 0px 0px 20px 0px #bfc0da;" >
    <div class="container">
       <div class="col">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <%= link_to root_path, data: { turbolinks: false } do %>
            <%= image_tag 'logo.png', class: 'img-fluid', width: '240px' %>
            <% end %>
          </div>
          <% if hospital_signed_in? %>
            <%= link_to new_patient_path, class: 'btn nav-btn btn-danger btn-sm mx-1 text-white me-5 px-3 py-2', data:{turbolinks:false} do %>
            患者基本登録
            <% end %> 
            <ul class="nav pills d-flex align-items-center ">
              <li class="nav-item">
                <%= link_to 'アカウント編集', edit_hospital_registration_path, class: 'nav-link active text-danger fs-6 mx-2', data: { turbolinks: false } %>
              </li>
              <li class="nav-item">
               <%= link_to 'ログアウト', destroy_hospital_session_path, class: 'nav-link active text-danger mx-2', method: :delete %>
              </li>
            </ul>
            <div class="d-flex justify-content-between ">
              <%= image_tag current_hospital.avatar.url, class: "rounded-circle flex-shrink-0 me-3 fit-cover mx-1", width: "50px;", alt: "hosptital" %>
              <p class= ""><%= current_hospital.username %></p>
            </div>
          <% else %>
             <ul class="nav-pills d-flex align-items-center">
                <li class="nav-item">
                  <%= link_to 'ログイン', new_hospital_session_path, class: ' me-4 text-danger', data: { turbolinks: false } %>
                </li>
                <li class="nav-item">
                  <%= link_to 'スタッフ登録', new_hospital_registration_path, class: 'btn nav-btn btn-danger text-white me-5 px-3 py-2', data: { turbolinks: false } %>
                </li>
             </ul>
          <% end %>
        </div>
     </div>
    </div>
  </div>
</nav>
<hr>
  